accelerate
datasets
gcsfs
matplotlib
numpy==1.23
pandas
safetensors
scikit_learn
scipy
sympy
termcolor
tiktoken
fuzzywuzzy
torch==2.3.1
tqdm
transformers
huggingface_hub
wandb
sentencepiece
protobuf
packaging
ninja
tabulate
wonderwords
openai
tenacity
wandb
seaborn
jieba
nltk==3.8.1
vllm==0.5.3.post1
alpaca-eval
pynvml
httpx==0.23.0